.banner {
  background-image: url("../../Images/Photo de couverture.jpeg");   
	background-size: cover;     
	background-position: center;
  background-color: darkred;  
}

.banner h1 {
  color: #FFC717;
  font-size: 100px;
  font-family: bebas neue;

}
.banner h2 {
  color: #FFC717;
  font-size: 30px;
  font-weight:  lighter;
  opacity: 0.8;
  font-family: bebas neue;
}