.btn-blue {
	backgound-color: #FFC717;
	color: black;
	font-family: bebas neue;
	text-transform: uppercase;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 20px;
}

.btn-blue {
	background-color: #FFC717;
}

.button-pink {
	background-color: #FFC717;
	color: black;
	border-radius: 5px;
	padding: 10px 20px;
	font-family: bebas neue;
	text-transform: uppercase;
	text-anchor: bold;

}

.button-pink {
	
}